.acerca{
    --opacidad-negro: 0.6;
    background-image: linear-gradient(rgb(0,0,0, var(--opacidad-negro)),rgba(0,0,0, var(--opacidad-negro))), url("../img/Yo.jpg");
    background-position: center;
    background-size: cover;
    height: 42rem;
}

.Proyectos{
    --opacidad-negro: .8;
    background-image: linear-gradient(rgb(0,0,0, var(--opacidad-negro)),rgba(0,0,0, var(--opacidad-negro))), url("../img/Logo.jpg");
    background-position: center;
    background-size: cover;
    height: 42rem;   
}

.Horizontal{
    max-width: 400px;
    max-height: auto;
}
.Vertical{
    max-height: 700px;
    max-width: auto;
}

.yo{
    margin-bottom: 10px;
}

.Logo{
    max-width: 120px;
    max-height: auto;
}
.texto{
    color: aliceblue;
}

@media (max-width: 1200px) {
    .Horizontal{
        max-width: 400px;
        max-height: auto;
    }
}

@media (max-width: 1000px) {
    .Horizontal{
        max-width: 300px;
        max-height: auto;
    }
}

@media (max-width: 800px) {

    .Logo{
        max-width: 100px;
        max-height: auto;
    }

    .Horizontal{
        max-width: 250px;
        max-height: auto;
    }
    .Vertical{
        max-height: 250px;
        max-width: auto;
    }

    .texto{
        margin-top: 20px;
    }
}

@media (max-width: px) {
    .Horizontal{
        max-width: 400px;
        max-height: auto;
    }
}