.acerca{
    --opacidad-negro: 0.5;
    background-image: linear-gradient(rgb(0,0,0, var(--opacidad-negro)),rgba(0,0,0, var(--opacidad-negro))), url("../img/Yo.webp");
    background-position: center;
    background-size: cover;
    height: 42rem;
    
}

.Proyectos{
    --opacidad-negro: .6;
    background-image: linear-gradient(rgb(0,0,0, var(--opacidad-negro)),rgba(0,0,0, var(--opacidad-negro))), url("../img/Logo.webp");
    background-position: center;
    background-size: cover;
    height: 42rem;   
}

.Proyectos-activos{
    --opacidad-negro: .5;
    background-image: linear-gradient(rgb(0,0,0, var(--opacidad-negro)),rgba(0,0,0, var(--opacidad-negro))), url("../img/DreamShaper_v7_galaxia_con_efectos_de_lsd_0\ \(1\).webp");
    background-position: center;
    background-size: cover;
    height: 42rem;   
}

.Horizontal{
    max-width: 400px;
    max-height: auto;
}
.Vertical{
    max-height: 100px;
    max-width: auto;
}

.yo{
    margin-bottom: 10px;
}

.Logo{
    max-width: 120px;
    max-height: auto;
}
.texto{
    color: aliceblue;
}

.carousel-inner img {
    max-width: 1000px;
    max-height: auto;
}

.carousel-inner{
    max-width: 1000px;
    max-height: auto;
}

.carousel{
    max-width: 1000px;
    max-height: auto;
    justify-content: center ;
}

footer{
    background-color: black;
}

.center{
    justify-items: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #C13584;
    color: white;
  }

  body{
    background-color: black;
  }

@media (max-width: 1200px) {
    .Horizontal{
        max-width: 400px;
        max-height: auto;
    }
}

@media (max-width: 1000px) {
    .Horizontal{
        max-width: 300px;
        max-height: auto;
    }
}

@media (max-width: 800px) {

    .Logo{
        max-width: 100px;
        max-height: auto;
    }

    .Horizontal{
        max-width: 250px;
        max-height: auto;
    }
    .Vertical{
        max-height: 250px;
        max-width: auto;
    }

    .texto{
        margin-top: 20px;
    }
}

@media (max-width: px) {
    .Horizontal{
        max-width: 400px;
        max-height: auto;
    }
}