.acerca{
    --opacidad-negro: 0.4;
    background-image: linear-gradient(rgb(0,0,0, var(--opacidad-negro)),rgba(0,0,0, var(--opacidad-negro))), url("../img/Yo.jpg");
    background-position: center;
    background-size: cover;
    height: 42rem;
    .texto{
        color: aliceblue;
    }
    
}

.Horizontal{
    max-width: 650px;
    max-height: auto;
}
.Vertical{
    max-height: 700px;
    max-width: auto;
}

.Logo{
    max-width: 120px;
    max-height: auto;
}